<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207767955981-8ldv0bkuthkuhua5u7ehlj0ig4r2hf12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207767955981-8ldv0bkuthkuhua5u7ehlj0ig4r2hf12</string>
	<key>API_KEY</key>
	<string>AIzaSyB5l2VCmXfMH4Yf8jLEL-No0ILTLs0K0Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>207767955981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gradcon.gradcon</string>
	<key>PROJECT_ID</key>
	<string>gradcon4</string>
	<key>STORAGE_BUCKET</key>
	<string>gradcon4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207767955981:ios:8ef6b29c742851223e0344</string>
</dict>
</plist>